<div class="chat-container">
    <h2>Chat</h2>
    <p id="reducPer"></p>

    <div class="chat" id="chat"></div>

    <form id="chat-form">
        <input type="email" id="email" name="email" placeholder="tucorreo@ejemplo.com" required/>
        <input type="text" id="fname" name="fname" placeholder="Nombre" required/>
        <input type="text" id="surname" name="surname" placeholder="Apellido" required/>
        <input type="number" id="age" name="age" placeholder="Edad" required/>
        <input type="text" id="alias" name="alias" placeholder="Alias" required/>
        <input type="text" id="avatar" name="avatar" placeholder="URL de avatar" required/>
        <input type="text" id="text" name="text" placeholder="Escribe tu mensaje..." required/>
        <button type="submit">Enviar</button>
    </form>

</div>