<div class="product-form">
    <h2>Ingresar producto</h2>

    <form id="product-form">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" required />

        <label for="price">Precio</label>
        <input type="text" id="price" name="price" required />

        <label for="thumbnail">Foto URL</label>
        <input type="text" id="thumbnail" name="thumbnail" required />

        <button type="submit">Enviar</button>
    </form>
</div>