<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>Login Error</title>
</head>
<body>
    <div class="error">
        <h1>Login Error</h1>
        <p>Email or password is incorrect. Please <a class="backLink" href="/app/login">Login</a> to continue.</p>
    </div>
</body>
</html>