<div class="product-container">
    <div class="header">
        <div class="product-name">Nombre</div>
        <div class="product-price">Precio</div>
        <div class="product-thumbnail">Foto</div>
        <div class="product-add">Agregar</div>
    </div>
    <div class="products" id="products">
    </div>
</div>
