<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>Socket Products Test</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="product-container">
        <div class="header">
            <div class="product-name">Nombre</div>
            <div class="product-price">Precio</div>
            <div class="product-thumbnail">Foto</div>
        </div>
        <div class="products" id="products"></div>
    </div>

    <script src="../productsTest.js"></script>
</body>
</html>