<div class="user-info">
    <h2>Información del usuario</h2>
    
    <span>Edad: <%- age %></span>
    <span>Dirección: <%- address %></span>
    <span>Teléfono: <%- phone %></span>
    <span>Email: <%- email %></span>
</div>